language: go

go:
  - 1.5
  - 1.6
  - 1.7
  - 1.8
  - 1.9
  - master 
  - release
  - tip
  
env:
  - GO15VENDOREXPERIMENT=1

install: true

matrix:
  allow_failures:
    - go: master
  fast_finish: true

notifications:
  email: false
 
before_script:
  - go get -t -v ./...
  - go get github.com/golang/lint/golint
  - go get honnef.co/go/tools/cmd/megacheck
  - go get github.com/fzipp/gocyclo
  - go get github.com/mattn/goveralls
  
script:
  - ./build
  - go test -v $(go list ./... | grep -v /vendor/)
  - go test -v -cover $(go list ./... | grep -v /vendor/)
  - golint sriov/sriov.go
  - bash <(curl -s https://codecov.io/bash)
  - goveralls -service=travis-ci
#  - go test -v -race ./...
#  - go vet ./...
#  - megacheck ./...
#  - gocyclo -over 19 $GO_FILES
#  - golint -set_exit_status $(go list ./...)
#  - go test -race -coverprofile=coverage.txt -covermode=atomic

#after_success:
#  - bash <(curl -s https://codecov.io/bash)
#  - goveralls -service=travis-ci
